*{
	margin: 0 auto;
	padding: 0;
	box-sizing: border-box;
}
h1{
	
}
h2{
	
}
h3{
	
}
p{
	
}
a{
	
}
li{
	
}
button{
	width: 3rem;
	height: 1.5rem;
	background:#60a561; 
}

#wrapper{
	background-color: 
}
#navbar{
	
}
.formbox{
	
}
.box{
	
}